#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
body{
  background: rgb(2,0,36);
background: linear-gradient(241deg, rgba(2,0,36,1) 0%, rgba(154,162,218,1) 30%);
}
.header{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#input{
  width: 25rem;
  font-weight: 300;
  color: black;
  border-radius: 8px;
  border: 2px solid #cac6ee;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 0.5rem; 
}

h2{
  height: 5rem;
  color: black;
}
.todolist {
  background: #c7c4f0;
  border-radius: 4px;
  padding: 5px;
  border: 2px solid black;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
}

#addtask {
  border-radius:8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cac6ee;
  cursor: pointer;
  transition: border-color 0.25s;
}
#addtask:hover {
  border-color: #5353cd;
  background-color: #5353cd;
  color: aliceblue;
}

.todo{
  display: flex;
  border: 1px solid #887ee9;
  background-color: #887ee9;
  position: relative;
  align-items: center;
  border-radius: 8px;
  height: 2rem;
}
.todo p{
  font-size: 1.3rem;
  
  font-weight: 400;
  font-family: inherit;
  width: 25rem;
  color: black;
}
#delete{
  background-color: #391cf2a5;
  position: absolute;
  right: 13px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px;
}
